



<div class="container" id="location">

  <div class="row">
    <div class="col-6">
      <h1>
        <%= @location.title %>
      </h1>
      <h3>
        <%= @location.img_source %>
      </h3>
        <a href="https://www.google.com/maps/place/51.848637,+-0.55462/">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.848637,+-0.55462&zoom=17&scale=false&size=600x300&maptype=satellite&format=png&visual_refresh=true" alt="Google Map of 51.848637, -0.55462"></a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      <span>Star Rating <%= @location.rating %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group row">
        <div class="col-6">
          <input class="form-control" type="text" value="Latitude" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <input class="form-control" type="text" value="Longitude" id="example-text-input">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-primary">Random Location</button>
      <%= link_to 'New Location', new_location_path, class: "btn btn-success" %>

    </div>
  </div>
  
  
  
  <!-- End of location contianer -->
</div>





  
<div class="container" id="comments">
  <div class="row">
    <div class="col-6">
      <h2>Comments</h2>
      <% @location.comments.each do |comment| %>
        <p>
          <strong>Commenter: </strong>
          <%= comment.commenter %>
        </p>
        
        <p>
          <strong>Comment:</strong>
          <%= comment.body %>
        </p>
      <% end %>
      
      <h2>Add a comment: </h2>
      <%= form_for([@location, @location.comments.build]) do |f| %>
        <p>
          <%= f.label :commenter  %><br>
          <%= f.text_field :commenter %>
        </p>
        
        <p>
          <%= f.label :body  %><br>
          <%= f.text_field :body %>
        </p>
        
        <p>
          
          <%= f.submit :Submit, class: 'btn btn-info'%>
        </p>
      <% end %>
        
    </div>
  </div>
</div>

<!--End of comment contianer -->






