<!-- Location Container -->
<div class="container" id="location">
  <div class="row">
    <div class="col-6" id="title">
      <h1>
        <%= @location.title %>
      </h1>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <iframe width="600" height="450" frameborder="0" style="border:0" 
          src="https://www.google.com/maps/embed/v1/view?zoom=<%=@location.zoom%>
          &center=<%=@location.longitude%>, <%=@location.latitude%>
          &key=AIzaSyDd1D5MfjxI4rFeElwebLzssyqgkfPHpLc
          &maptype=satellite" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  </div>
  

<!-- User Rating -->
  <div class="row">
    <div class="col-6">
      <% (1..@location.rating).each do |i| %>
        <%= image_tag '/assets/star.png', :class => "rating_star" %>
      <% end %><br><br>
    </div>
  </div>

<!-- Random/New Location Buttons -->
  <div class="row">
    <div class="col-6">
      <%= link_to 'Random Location', root_path, class: "btn btn-primary" %>
      <%= link_to 'New Location', new_location_path, class: "btn btn-success" %>
    </div>
  </div>
<!-- End of location contianer -->  
</div>



<!-- Comments Container -->
<div class="container" id="comments">
  <div class="row">
    <div class="col-6">
      <h2>Comments</h2>
        <div id="wrapper">
          <div class="scrollbar" id="style-default">
            <div class="force-overflow">
              <% if @location.comments.each do |comment| %>
                <p>
                  <strong>Commenter: </strong>
                    <%= comment.commenter %>
                        <!-- Comment Timestamp -->
                       <i><span style="color:gray; font-size:12px"> - <%= time_ago_in_words(comment.created_at) %> ago.</span></i>
                </p>
                <p>  
                  <strong>Comment:</strong>
                    <%= comment.body %>
                      <!-- Delete Comment Button -->
                      <%= button_to 'Delete Comment', location_comment_url(@location, comment), method: :delete, data: { confirm: 'confirm comment deletion?' }, :class => "btn btn-danger btn-sm" %> 
                        <% end.empty? %>
                          <h5>Sorry, there are no comments at the moment!</h5>
                </p>
                <% end %>
            </div>
          </div>
        </div>
        
      <!-- Comment Submission Form -->
    
      <h2>Add a comment: </h2>
        <div class="container">
          <%= form_for([@location, @location.comments.build]) do |f| %>
            <p>
              <%= f.label :commenter  %><br>
              <%= f.text_field :commenter %>
            </p>
            <p>
              <%= f.label :body  %><br>
              <%= f.text_field :body %>
            </p>
            <p>
              <%= f.submit :Submit, class: 'btn btn-info'%>
            </p>
              
            <% end %>
          </a>
        </div>
    </div>
  </div>
<!--End of comment contianer -->
</div>




