<p id="notice"><%= notice %></p>

<p>
  <strong>Img source:</strong>
  <%= @location.img_source %>
</p>

<p>
  <strong>Title:</strong>
  <%= @location.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @location.rating %>
</p>

<h2>Comments</h2>
<% @location.comments.each do |comment| %>
  <p>
    <i>Posted <%= time_ago_in_words(comment.created_at) %> ago.<br></i>
    <strong>Commenter: </strong>
    <%= comment.commenter %>
  </p>
  
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <%= link_to 'Delete Comment', 
                        location_comment_url(@location, comment), 
                        method: :delete,
                        data: { confirm: 'Confirm comment deletion?' } %>
<% end %>

<h2>Add a comment: </h2>
<%= form_for([@location, @location.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter  %><br>
    <%= f.text_field :commenter %>
  </p>
  
  <p>
    <%= f.label :body  %><br>
    <%= f.text_field :body %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
  

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<%= link_to "Random Location", @random_location %>
